.btn {
    padding: .5rem 2rem;
    cursor: pointer;
    color: $color-open-white;
    border-radius: 3px;
    margin-left: 3rem;
    transition: all .3s;

    &:hover {
        text-decoration: none;
        color: $color-open-white;
        box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.294);
        transform: scale(1.03);
    }

    &:focus, &:active {
        text-decoration: none;
        color: $color-open-white;
        box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.294);
        transform: scale(1.03);
    }
}

.start {
    background-color: $color-green;
}

.stop {
    background-color: $color-red;
}

.reset {
    background-color: $color-blue;
}
